:root {
    --main-bg: #b3d9ff;
    --bg-darker: hsl(210, 100%, 80%);
    --button-bg: #FFD9B3;
    --button-hover: #ffa64d;
    --header-height: 6.5rem;
}
@font-face {
    font-family: my-future-font;
    src: url(Borg.ttf);
}
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: var(--main-bg);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: var(--main-bg);

}
section {
    margin: 2rem;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-weight: 300;
    font-size: 3.5rem;
    font-family: my-future-font, Arial, Helvetica, sans-serif;
}
#nav-left, nav {
    display: flex;
    align-items: center;
    margin: 1.5rem 3rem;
}
#nav-left img {
    height: 2.5rem;
    width: 2.5rem;
    rotate: 45deg;
    margin-right: 0.5rem;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
#email-form h2 {
    font-weight: bold;
}
#email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form input {
    margin-top: 0.8rem;
}
input[type="email"] {
    min-width: 250px;
    line-height: 1.5rem;
}
#submit {
    width: fit-content;
    background-color: var(--button-bg);
    border-style: none;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
}
#submit:hover {
    background-color: var(--button-hover);
}
#features {
    scroll-margin-top: var(--header-height);
    max-width: 800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 0 1rem;
}
#features h3 {
    font-size: 1.5rem;
}
#features p {
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
}
#video {
    scroll-margin-top: var(--header-height);
    display: flex;
    justify-content: center;
}
#packages {
    scroll-margin-top: var(--header-height);
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
#packages div {
    min-height: 300px;
    max-width: 300px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#packages div * {
    margin: 0.5rem auto;
}
#packages div h3 {
    padding: 1.5rem 0;
    margin-top: 0;
    width: 100%;
    background-color: var(--bg-darker);
}
#packages div p {
    width: 40%;
    line-height: 1.5rem;
}
button.select {
    font-size: 1rem;
    background-color: var(--button-bg);
    border-style: none;
    border-radius: 2px;
    padding: 0.5rem 1rem;
}
.button:hover {
    background-color: var(--button-hover);
}
nav ul:hover {
    align-items: center;
}
nav ul li:hover {
    background-color: var(--bg-darker);
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 3px;
}
footer {
    margin: auto;
    max-width: 1000px;
    background-color: var(--bg-darker);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 1.5rem 1.5rem 10px 1.5rem;
}
footer ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
footer ul li {
    margin-left: 1rem;
}
footer p {
    font-size: 1rem;
}
.fa-github {
    font-size: 1.5rem;
    margin-right: 10px;
}
.signature {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
@media (min-width: 621px) {
    nav ul {
        min-width: 250px;
    }
}
@media (max-width: 800px) {
    #features {
        scroll-margin-top: calc(var(--header-height) + 1rem);
    }
    #packages {
        flex-direction: column;
    }
    #packages div {
        margin: 10px auto;
    }
    #nav-left {
        margin-right: auto;
    }
    nav {
        margin-left: auto;
    }
}
@media (max-width: 620px) {
    #features {
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        min-width: fit-content;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 600px) {
    #features, #video, #packages {
        scroll-margin-top: calc(var(--header-height) + 6rem);
    }
    header {
        flex-direction: column;
    }
    #nav-left {
        margin: 1.5rem auto;
    }
    nav {
        margin-top: 0;
    }
}